.home {
  padding: 150px 100px 0px 100px;

  .firstPart {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .secondPart {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
