/*Components Style*/
@import "assets/sass/Components/nav.scss";
@import "assets/sass/Components/categoriesNav.scss";
@import "assets/sass/Components/PromoOne.scss";
@import "assets/sass/Components/PromoTwo.scss";

/*Pages style*/
@import "assets/sass/Page/Home.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
